node_modules/
.env
artifacts/
cache/
typechain-types/

wrapper-service/node_modules/
wrapper-service/.env
wrapper-service/data/*.db
wrapper-service/data/*.db-journal
wrapper-service/data/*.db-wal
wrapper-service/data/*.db-shm
